{% extends "layout.html" %}

{% block title %}
    log in
{% endblock %}

{% block main %}

<h3> Welcome to landlord finance</h3>

<form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <p><input type="checkbox" name="remain me"> Remain me</p>
        </div>
        <p> <a href="{{ url_for('restore_psw') }}"> Forgot your password? </a> </p>
        <button class="btn btn-primary" type="submit">Log In</button>
</form>

{% endblock %}
