{% extends "layout.html" %}

{% block title %}
    main
{% endblock %}

{% block main %}
    <h1> Панель управления </h1>

<div class="month">
  <ul>
    <li>
      {{ month }}<br>
      <span style="font-size:18px">{{ year }}</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>ПНД</li>
  <li>ВТР</li>
  <li>СРД</li>
  <li>ЧТВ</li>
  <li>ПТН</li>
  <li>СБТ</li>
  <li>ВСК</li>
</ul>

<ul class="days">
    {% if first_day_month == 'Wednesday' %}
    <li class="no"> </li>
    <li class="no"> </li>
        {% for d in days %}
        {% if d == day %}
            <li>
                <form action="POST">
                <span class="active">{{ d }}  <input size="4"  autocomplete="on"> </span>
                <input type="checkbox" name="agree" onclick="agreeForm(this.form)" >
                <button type="submit" name="submit" disabled>ok</button>
                </form>
            </li>
        {% else %}
        <li>{{ d }} <input size="4" autocomplete="on">
            <button type="submit">ok</button>
        </li>
        {% endif%}
        {% endfor %}
    {% endif %}
    <li class="no"> </li>
    <li class="no"> </li>
    <li class="no"> </li>
    <li class="no"> </li>
    <li class="no"> </li>
</ul>

    <form action="/main" method="post" class="exp">
        <div class="mb-3">
            <input autocomplete="off"  class="form-control mx-auto w-auto"  name="expense" placeholder="расход" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Внести</button>
    </form>

{% endblock %}
